/* La animación */
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    /* 15% {
        opacity: 0;
        transform: translateY(-100px);
      } */
    /* 35% {
        opacity: 0.5;
        transform: translate3d(10px,50px,100px)
      } */
    /* 55% {
        opacity: 0;
        transform: translateX(-100px);
      }
      70% {
        opacity: 0;
        transform: translateX(-100px);
      }
    */
    80% {
      opacity: 0.3;
      transform: translateX(2rem);
    }
    100% {
      opacity: 1;
      /* transform: translate3d(120px,-50px,200px); */
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    80% {
      opacity: 0.3;
      transform: translateX(-2rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(10rem);
    }
    80% {
      opacity: 0.3;
      transform: translateY(-0.2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }